<h1>Log In</h1>

<form action="<%= session_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="user_mail">Email:</label>
  <input type="text" name="user[email]">

  <br><br>

  <label for="user_password">Password:</label>
  <input type="password" name="user[password]">

  <br><br>

  <input type="submit" value="Log In!">

</form>

<br><br>

<form action="<%= new_user_url %>" method="get">
  <label for="sign_up">Not yet a user?</label>
  <input type="submit" value="Sign Up!" name="sign_up">
</form>
