<label>Card Title:<br>
  <input type="text" name="card[title]" value="">
</label><br>

<label>Description:<br>
  <input type="textarea" name="card[description]" value="">
</label><br>

<button type="submit">Create Card</button>
