<h1>Sign Up</h1>

<form action="<%= users_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="user_mail">Email:</label>
  <input type="text" name="user[email]">

  <br><br>

  <label for="user_password">Password:</label>
  <input type="password" name="user[password]">

  <br><br>

  <input type="submit" value="Sign Up!">

</form>

<br><br>

<form action="<%= new_session_url %>" method="get">
  <label for="log_in">Already a user?</label>
  <input type="submit" value="Log In!" name="log_in">
</form>
