a.active {
  font-weight: bold;
}

pre.tab-pane {
  display: none;
}

pre.tab-pane.active {
  display: block;
  opacity: 1;
}

pre.tab-pane.transitioning {
  display: block;
  opacity: 0;
  transition: opacity 0.5s linear;
}
