/* PHASE 9: Forms */

.form {
  background: #eee;
  float: right;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #aaa;
  display:block;
}

.title-input {
  padding: 5px;
}

label {
  font-weight: 700;
}

.body-input {

}

.form-button {

}

.cancel-button {

}
