/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_index
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li.board,
button.new-board {
  color: white;
  font-size: 18px;
  width: 200px;
  min-height: 200px;
  background: #005CE6;
  float: left;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: inline;
}

li.board:hover,
button.new-board:hover {
  background: #0040A1;
}

.list {
  float: left;
  background: lightblue;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

li.card button.delete-card {
  display: none;
}

li.card:hover button.delete-card {
  display: block;
}


// .footer > li {
//   float: left;
// }
//
// ul.footer {
//   width: 100%;
//   background: green;
// }
//
// .list-container {
//   width: 100%;
//   background: red;
// }
