/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_index
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li.board,
button.new-board {
  color: white;
  font-size: 18px;
  width: 200px;
  min-height: 200px;
  background: #0E74AF;
  float: left;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: inline;
}

li.board:hover {
  background: #0040A1;
}

button.new-board {
  background: #E6E6E6;
  color: black;
}

button.new-board:hover {
  background: #A6A6A6;
}

.board-container {
  background: #0E74AF;
}

.board-show-titles {
  color: #F5F5F5;
}

.list {
  float: left;
  background: lightblue;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

li.card button.delete-card {
  display: none;
}

li.card:hover button.delete-card {
  display: block;
}

p.list-title {
  font-family: sans-serif;
  font-size: 20px;
}

li.list {
  border-radius: 5px;
}

li.card {
  font-family: sans-serif;
  font-size: 12px;
  background: white;
  border-radius: 5px;
  padding: 1px 5px;
  margin: 5px;
}

p.card-title {
  font-size: 16px;
  font-weight: bold;
}

.btn-primary,
.btn-danger,
.btn-success {
  border-radius: 5px;
}


// .footer > li {
//   float: left;
// }
//
// ul.footer {
//   width: 100%;
//   background: green;
// }
//
// .list-container {
//   width: 100%;
//   background: red;
// }
