<h1>All the Boards!</h1>

<% boards.each( function(board) { %>
  <h3>
    <a href="#boards/<%= board.id %>" ><%= board.escape("title") %></a>
  </h3><br>
<% }) %>

<button class="btn new-board">Make a new board!</button><br>
