<h3><%= list.escape("title") %></h3>

<div class="card-container">
  <ul class="cards"></ul>
</div>

<button data-list-id="<%= list.id %>" class="btn-success new-card">
  Add a new card!</button><br>
<button class="btn-danger delete-list">Delete List</button>
